@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contener {
  width: calc(100% - 160px);
  margin: auto;
}
.header {
  position: sticky;
  z-index: 9;
  top: 0;
  box-shadow: 0px 1.647px 8.237px 0px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #ffffff;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.list ul {
  list-style-type: none;
  gap: 26px;
}
.list ul li a {
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.list a:hover {
  padding: 14px 24px;
  border-radius: 8px;
  background: var(--White-95, #f1f1f3);
  cursor: pointer;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  gap: 20px;
}
.button a:hover {
  background-color: #eee;
  color: #fff;
  font-size: 20px;
  font-weight: 150;
}

.button a {
  font-family: Inter;
  color: var(--Absolute-White, #fff);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 15px;
}
#login {
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#register {
  background: var(--Orange-50, #ff9500);
  color: white;
}
.icon {
  gap: 5px;
}
.icon svg {
  background-color: #ff9500;
  width: 35px;
  height: 35px;
}
.showburger {
  margin: auto;
  display: none;
}

.hero .head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  gap: 40px;
  background-color: #ffffff;
}
.hero .hero-info {
  display: flex;
  padding: 14px 30px 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 11px;
  border: 1px solid var(--White-95, #f1f1f3);
  background: var(--White-99, #fcfcfd);
}
.hero .hero-descraption {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.hero .hero-buttons {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.hero .hero-text span {
  color: var(--Orange-50, #ff9500);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.hero .hero-text h1 {
  color: var(--Grey-10, #1a1a1a);
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.hero .hero-descraption span {
  color: var(--Grey-15, #262626);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.hero .hero-descraption p {
  color: var(--Grey-15, #262626);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.hero .hero-buttons a {
  color: var(--Absolute-White, #fff);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.hero .hero-buttons :first-of-type {
  border-radius: 8px;
  background: var(--Orange-50, #ff9500);
  padding: 18px 24px;
  justify-content: center;
  color: white;
}
.hero .hero-buttons :last-of-type {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--White-95, #f1f1f3);
  background: var(--Absolute-White, #fff);
  color: black;
}
.hero .theams {
  position: absolute;
}
.allimg {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;
  border: 1px solid var(--White-95, #f1f1f3);
  background: var(--White-99, #fcfcfd);
  gap: 40px;
  overflow-x: auto;
}
.allimg img {
  padding: 20px 40px;
  width: calc(100% - 80px) / 3;
}
.divs {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.allbenfits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
}
.benfits {
  padding: 40px;
  background: var(--White-97, #f7f7f8);
}
.benfits .head h1 {
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
}
 .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 .info p {
  width: 70%;
  color: var(--Grey-35, #59595a);
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
 .info span {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--White-95, #f1f1f3);
  background: var(--White-99, #fcfcfd);
}
 .info span a {
  color: var(--Grey-15, #262626);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

.benfits .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.benfits .cards .card {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: calc((100% / 3) - 10px);
  border-radius: 12px;
  background: var(--Absolute-White, #fff);
}
.benfits .cards .card h3 {
  align-self: start;
}
.benfits .cards .card h2 {
  color: var(--Grey-15, #262626);
  text-align: right;
  font-family: Be Vietnam Pro;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
}
.courses{
  padding: 30px;
  background: var(--White-97, #f7f7f8);

}
.courses .head{
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
}
.courses .allcourses{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.courses .cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
.courses .card{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--Absolute-White, #FFF);
}
.courses .img-info{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  

}
.courses .img-info span{
  padding: 10px 16px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--Absolute-White, #FFF);
}
.courses .img-info h2{
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: flex-end;
}
.courses .card-info{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.courses .card-info h2{
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
}
.courses .card-info p{
  color: var(--Grey-30, #4C4C4D);
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.courses .card-button {
  display: flex;
  flex-wrap: wrap;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--White-97, #F7F7F8); 

}
.courses .card-button a{
  color: var(--Grey-15, #262626);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  text-decoration: none;
}
.testimonials{
  padding: 40px;
}

.testimonials .testimonial {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  
}

.testimonials .testimonial .employee {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(100% / 2);
  padding: 40px;
  border-radius: 15px;
  border: 2px solid #F1F1F3;
  background: #FFF;
  gap: 20px;
}
.testimonials .head h1{
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
}
.employee span {
  color: #4C4C4D;
  font-weight: 400;
}

.employee .information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee .information span {
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #F1F1F3;
  background: #FFF;
}

.employee .information .one1 {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
}

.employee .information .one1 span {
  height: fit-content;
}

.pricing .title .last span:last-of-type {
  display: flex;
  border-radius: 0.5rem;
  background: #FFF;
  padding: 0.75rem;
  margin: auto;
}

.pricing .title .last span a {
  border: 0.1rem solid #FFF;
  width: fit-content;
  padding: 0.857rem 1.875rem;
}
.pricing .head h1 { 
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
}
.pricing .info  span a:first-of-type {
  background-color: #FF9500;
  padding: 14px 30px;
  color: #fcfcfd;
  gap: 10px;
}
.pricing .info  span a:last-of-type {
  padding: 14px 30px;
  justify-content: center;
  align-items: center;

}

.pricing .pric {
  display: flex;
  gap: 1.875rem;
  flex-wrap: wrap;
  padding: 5rem;
  border-radius: 0.75rem;
  background: #FFF;

}

.pricing .pric .contant {
  display: flex;
  flex-direction: column;
  width: calc((100% - 1.875rem) / 2);
  padding: 3.125rem 1.875rem;
  border-radius: 0.75rem;
  border: 0.1rem solid #F1F1F3;
  text-align: center;
  gap: 3.125rem;
}

.pricing .pric .contant .one {
  background-color: rebeccapurple;
  padding: 0.75rem 1.375rem;
  border-radius: 0.375rem;
  border: 0.1rem solid #FFEACC;
  background-color: #FFF9F0;
  font-size: 1.375rem;
  font-weight: 500;
}

.pricing .pric .contant .two {
  font-size: 5rem;
  font-weight: 600;
  color: #262626;
}

.pricing .pric .contant .two::after {
  content: "/month";
  font-size: 1.25rem;
  color: #4C4C4D;
  font-weight: 500;
}

.pricing .pric .contant .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  padding: 2.5rem;
  border-radius: 0.875rem;
  border: 0.1rem solid #F1F1F3;
  background: #FFF;
}

.pricing .pric .contant .list .head {
  color: #262626;
  font-size: 1.25rem;
  font-weight: 500;
}

.pricing .pric .contant .list .lc {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: #4C4C4D;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.pricing .pric .contant .list .lc img {
  padding: 0.375rem;
  border-radius: 0.375rem;
}

.pricing .pric .contant .list .lc .active {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #F1F1F3;
  padding: 0.875rem;
}

.pricing .pric .contant .list .lc .active img {
  background-color: #FFF4E5;
}

.pricing .pric .contant .list .lc .inactive {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #F1F1F3;
  padding: 0.875rem;
}

.pricing .pric .contant .list .lc .inactive img {
  border: 0.1rem solid #F1F1F3;
}

.pricing .pric .contant .last {
  border-radius: 0.5rem;
  background-color: #FF9500;
  padding: 1.25rem 1.5rem;
  color: #FFF;
}

footer {
  background-color: #FFF;
  margin-top: 7rem;
}

footer .container {
  display: flex;
  flex-direction: column;
  padding: 6.25rem 10.125rem 1.875rem;
  gap: 6.25rem;
}

footer .had {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .had .first {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

footer .had nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .had .first ul {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

footer .had .first li {
  display: flex;
  gap: 0.375rem;
  color: #262626;
}

footer .had .first .logo {
  padding: 0.48rem;
  border-radius: 0.5rem;
  background-color: #FF9500;
  height: 2.5rem;
  width: 2.5rem;
}

footer .had .last {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.857rem;
  width: calc(100% / 2);
}

footer .had .last nav {
  gap: 0.875rem;
}

footer .had .last nav h4 {
  font-size: 1.25rem;
  color: #262626;
}

footer .had .last ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #59595A;
}

footer .had .last .final ul {
  flex-direction: row;
  gap: 0.875rem;
  align-content: center;
}

footer .had .last .final img {
  border-radius: 0.5rem;
  border: 0.1rem solid #F1F1F3;
  background: #F7F7F8;
  padding: 0.875rem;
}

footer .fot {
  display: flex;
  justify-content: center;
  color: #656567;
}

















@media screen and (max-width: 955px) {
  .list ul li a {
    display: none;
  }
  .showburger {
    display: block;
    width: 100%;
  }
  .header .navbar {
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 15px;
  }
  .header .list {
    display: inline;
  }
  .allimg img {
    padding: 20px 40px;
    width: calc(100% - 80px) / 3;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: calc(100% - 16px);
  }
  .button {
    font-size: 10px;
    width: 10px;
  }
  .header .navbar {
    display: inline;
  }
  .hero .head {
    padding: 50px 0px;
    gap: 20px;
  }

  .first-hero .theams {
    height: 15px;
    width: 15px;
  }
  .hero-text span h1 {
    font-size: 15px;
    font-style: normal;
  }
  .allimg img {
    padding: 20px 40px;
    width: calc(100% - 80px) / 3;
    overflow: auto;
  }
}
