@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contener {
  width: calc(100% - 160px);
  margin: auto;
}
.header {
  background-color: #fff;
  position: sticky;
  z-index: 9;
  top: 0;
  box-shadow: 0px 1.647px 8.237px 0px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content:space-between;
  padding: 0 30px;
  background-color: #FFFFFF;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.list ul {
  list-style-type: none;
  gap: 26px;
}
.list ul li a {
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.list a:hover {
  padding: 14px 24px;
  border-radius: 8px;
  background: var(--White-95, #F1F1F3);
  cursor: pointer;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  gap: 20px;
}
.button a:hover {
  background-color: #eee;
  color: #fff;
  font-size: 20px;
  font-weight: 150;
}

.button a {
  font-family: Inter;
  color: var(--Absolute-White, #FFF);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 15px;
}
#login{
  color: var(--Grey-15, #262626);
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
#register {
  background: var(--Orange-50, #FF9500);
  color: white;
}
.icon {
  gap: 5px;
}
.icon svg {
  background-color: #FF9500;
  width: 35px;
  height: 35px;
}
.showburger{
  margin: auto;
  display: none;
}


.hero .head{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  gap: 40px;
  background-color: #FFFFFF;

}
.hero .hero-info{
  display: flex;
  padding: 14px 30px 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 11px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--White-99, #FCFCFD);

}
.hero .hero-descraption{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.hero .hero-buttons{
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.hero .hero-text span{
  color: var(--Orange-50, #FF9500);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
}
.hero .hero-text h1{
  color: var(--Grey-10, #1A1A1A);
  font-family: Be Vietnam Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.hero .hero-descraption span{
  color: var(--Grey-15, #262626);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
}
.hero .hero-descraption p{
  color: var(--Grey-15, #262626);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.hero .hero-buttons  a {
  color: var(--Absolute-White, #FFF);
  text-align: center;
  font-family: Be Vietnam Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}
.hero .hero-buttons  :first-of-type {
border-radius: 8px;
background: var(--Orange-50, #FF9500);
padding: 18px 24px;
justify-content: center;
color: white;

}
.hero .hero-buttons  :last-of-type {
  display: flex;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--Absolute-White, #FFF);
  color: black;
  
}
.hero .theams{
  position: absolute;
}
.allimg{
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 12px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--White-99, #FCFCFD);
  gap: 40px;
  overflow-x: auto;
}
.allimg img{
  padding: 20px 40px;
  width: calc(100% - 80px) /3;

}


@media screen and (max-width:955px) 
{
  
  .list ul li a{
    display: none;
  }
  .showburger{
    display: block;
    width: 100%;
  }
  .header .navbar{
    display: flex;
    justify-content: space-around;
    margin: auto;
   gap: 15px;
  }
  .header .list {
    display: inline;
}
  .allimg img{
  padding: 20px 40px;
  width: calc(100% - 80px) /3;

}


}
@media screen and (max-width:500px) 
{
  .container {
    width: calc(100% - 16px);
}
  .button{
    font-size: 10px;
    width: 10px;
  }
  .header .navbar{
    display: inline;
  }
  .hero .head { 
    padding: 50px 0px;
     gap: 20px;
  }

  .first-hero .theams{
    height: 15px;
    width: 15px;
  }
  .hero-text span h1{
    font-size: 15px;
    font-style: normal;    
  }
  .allimg img{
    padding: 20px 40px;
    width: calc(100% - 80px) /3;
    overflow: auto;
  
  }
  
  
}




